* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: #79c3d2;
    color: #036064;
    margin-top:40px;
}

nav {
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #000;
    z-index: 100;
}

ul {
   margin: auto; 
    list-style-type: none;
}

li {
    line-height: 200px;
    display: inline-block;
    padding: 4px 10px;
    font-size: 30px;
    line-height: 50px;
}

li a {
    color: #fff;
}

h1, h2 ,h3{
    font-size: 100%;
    font-weight: 300;
    color: #fff;
    margin: 10px 0px;
}

h1 {
    text-align: center;
    font-size: 5.625em;
    line-height:90px;
}


h2 {
    text-align: center;
    font-size: 3em;
}

h2 a {
    color: #000;
}

h3 {
    font-size: 2em;
    font-weight: 100;
    margin: 0 0 10px 0;
}


p {
    font-size: 35px;
    line-height: 45px;
    font-family: 'Roboto Condensed', sans-serif; 
}

a {
    color:#036064;
    text-decoration: none;
}


header a {
    display: block;
    padding: 20px 20px 0px 0px; 
}


li:hover {
}

article {
    border: dotted 1px #fff;
    padding: 40px;
    margin: 70px auto;
    width: 90%;
}

section {
    background-color: #d9eef2;
    margin: 0px 0px 50px 0px;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4)
}