* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: #000;
    color: #fff;
}

h1, h2 ,h3{
    font-weight: 300;
    margin: 10px 0px;
}

h1 {
    color:#A6AA3E;
    font-size: 90px;
    line-height:90px;
}

header {
    border-bottom: dotted 1px #036064;
}

h2 {
    font-size: 20px;
    padding: 20px;
    font-weight: 100;
}

h3 {
    color:#A6AA3E;
    font-size: 60px; 
}

p {
    font-size: 35px;
    line-height: 55px;
    font-family: 'Roboto Condensed', sans-serif; 
}

a {
    color:#036064;
    text-decoration: none;
}


header {
    margin-bottom: 80px;
}

header a {
    display: block;
    padding: 20px; 
    font-size: 30px;
    color:#036064;
}

header h2 {
    padding: 0px;
}


ol {
    width: 300px;
    list-style-type: none;
}

li {
    padding: 4px 10px;
    font-size: 30px;
    line-height: 50px;
}

li:hover {
}

.introduction {
}

article {
    margin: 40px;
}

section {
    margin: 0px 0px 50px 0px;
    padding: 20px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}